<div class="row fetcher-form">
  <div class="span12">
    <%= render 'form' %>
  </div>
</div>
<div class="row">
<% @pages.each do |page| %>
    <div class="span1">
      <%= link_to image_tag("http://graph.facebook.com/"+page.page_id+"/picture?type=square", :class => "img-polaroid"), page, :class => "thumbnail" %>
    </div>
    <div class="span3 page-title">
      <h4>
        <%= link_to page.name, page %>
      </h4>
      <div class="action-button">
        <%= link_to 'Edit', edit_page_path(page), :class => "btn btn-mini" %>
        <%= link_to 'Destroy', page, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini" %>
      </div>
    </div>
<% end %>
</div>
