<!DOCTYPE html>
<html>
<head>
  <title>PageFetcher</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= link_to "Page Fetcher", root_path, :class => 'brand' %>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="content">
       <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div> <!--! end of .container -->
</body>
</html>
